@import url("https://use.typekit.net/qkz3byl.css");

:root {
    --bg-color: #ECEFF4;
    --text-color: #13064E;
    --light-blue: #017AF4;
    --red-color: #FF3334;
    --yellow-color: #FFCC00;
    --primary-font: mr-eaves-xl-modern, sans-serif;
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
}
* {
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.artist-item{
    background: white;
    height: 250px;
}
.artist-item-top{
    height: 150px;
    padding-top: 25px;
}
.artist-img-holder{
    width: 150px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;

}
.artist-img{
    border-radius: 50%;

}
.artist-item-bottom{
    width: auto;
    height: 100px;
    background-color: var(--yellow-color);
    text-align: center;
    align-items: center;
    padding: 10px;

}
.artist-name{
    border-bottom: 2px solid var(--text-color);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 150px
}
.read-more-btn{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
.read-more-btn:hover{
    text-decoration: underline;
}

.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}
.slick-active {
    opacity: .9;
}
.slick-current {
    opacity: 1;
}
