@import url("https://use.typekit.net/qkz3byl.css");

:root {
    --bg-color: #ECEFF4;
    --text-color: #13064E;
    --light-blue: #017AF4;
    --red-color: #FF3334;
    --yellow-color: #FFCC00;
    --primary-font: mr-eaves-xl-modern, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    color: var(--text-color);
}

main {
    text-align: center;
}

ul {
    list-style: none;
}

#topBtn {
    background: url(icons/btn-16.png);

    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 73px;
    height: 73px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 30px 0px;
    transition: .5s;
}

#topBtn:hover {
    background: url(icons/btn-17.png);
}

header {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

#logo,
#logo-filled {
    margin-left: 25px;

}

#logo path:nth-child(2) {
    stroke-dasharray: 275;
    stroke-dashoffset: 275;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;

}

#logo path:nth-child(3) {
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-anim 2s ease forwards .9s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-anim 2s ease forwards .6s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 237;
    stroke-dashoffset: 237;
    animation: line-anim 2s ease forwards .9s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards .3s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 275;
    stroke-dashoffset: 275;
    animation: line-anim 2s ease forwards .6s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    animation: line-anim 2s ease forwards 1.3s,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 237;
    stroke-dashoffset: 237;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards 1s,
        logo-fill 1s ease forwards 2.4s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes logo-fill {
    from {
        fill: transparent;
    }

    to {
        fill: var(--text-color);

    }
}

nav a {
    margin-right: 100px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 25px;
    transition: .5s;
}

nav a:hover {
    color: var(--red-color);
}

#event a.website-link {
    text-decoration: none;
}

#event a.website-link span mark {
    transition: .5s;
}

#event a.website-link span mark:hover {
    color: var(--yellow-color);

}

.nav-selected {
    color: var(--red-color);
}

/*AUTOMATIC SLIDESHOW*/
* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

/* Caption text */
.text,
.eventArtist,
.eventDate {
    color: #ffffff;
    font-weight: bold;
    padding: 8px 12px;
    text-align: left;
    width: 70%;
}

.text {
    font-size: 50px;
    position: absolute;
    bottom: 200px;
    left: 100px;
}

.eventArtist {
    font-size: 30px;
    position: absolute;
    bottom: 150px;
    left: 100px;
}

.eventDate {
    font-size: 30px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: var(--text-color);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.yellow-heading,
.blue-heading,
.red-heading {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.yellow-heading {
    color: var(--yellow-color);
    margin-top: 70px;
}

.blue-heading {
    color: var(--light-blue);
    margin-bottom: 0;
    margin-top: 70px;
}

.red-heading {
    color: var(--red-color);
    margin-top: 50px;
}

h2:before,
h2:after {
    content: '';
    border-top: 2px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

/*ALPHABET*/
.alphabet {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 30px));
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.alphabet > p {
    text-align: center;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}

.alphabet > p:hover {
    color: var(--tex-color);
}

.alphabet-selected {
    color: var(--text-color);
}

.alphabet-other {
    color: white;
}

h1 {
    color: var(--yellow-color);
    text-align: right;
    margin-right: 30px;
}

.noartistdata {
    display: none;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
}

/*SIGN UP SECTION*/
.sign-up-section {
    margin: 50px 0;
    width: 100%;
    height: 400px;
    background: var(--yellow-color);
    color: var(--light-blue);

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.hole {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: var(--bg-color);

    grid-column: 2;
    justify-self: center;
    grid-row: 1 / 4;
    align-self: center;
    margin-right: 200px;

}

.sign-up-section h3 {
    font-size: 40px;
    grid-column: 1 / 3;
    grid-row: 1;

    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    align-self: flex-end;

}

.sign-up-section h4 {
    font-size: 30px;
    grid-column: 1 / 3;
    grid-row: 2;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}

.sign-up-section-submit-email {
    grid-column: 1 / 3;
    grid-row: 3;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.email-input {
    width: 200px;
    height: 40px;

    border: none;
    outline: none;
    padding: 10px;

    font-family: var(--primary-font);
}

.submitBtn {
    background: var(--yellow-color);
    color: white;
    font-family: var(--primary-font);
    font-weight: bold;
    letter-spacing: 2px;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.ads-img {
    display: block;
    width: 35%;
    margin: 70px auto;
}

/*FOOTER*/
.footer-line {
    border-top: 1px solid var(--text-color);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 160px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: var(--light-blue);

}

.contact-icons {
    grid-column: 1;
    grid-row: 1 / 4;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    margin-bottom: 30px;
}

.contact-icons-event {
    grid-column: 2 / 3;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

.contact-icon,
.filter {
    transition: 0.5s ease;
    cursor: pointer;
}

.contact-icon:hover,
.filter:hover {
    transform: translate(0, -7px);
}

.filter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer h3 {
    font-size: 25px;
    grid-column: 2;
    grid-row: 1;
    text-align: end;
    margin-right: 200px;
    margin-bottom: 0;
}

footer h4 {
    font-size: 20px;
    grid-column: 2;
    grid-row: 2;
    text-align: end;
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 0;

}

.footer-submit-email {
    grid-column: 2;
    grid-row: 3;
    text-align: end;
    margin-right: 200px;
    margin-top: 10px;
}

/*SINGLE ARTIST PAGE*/
.artist-info-wrapper {
    text-align: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.single-artist-event-info {
    color: var(--yellow-color);
    font-weight: bold;
    font-size: 20px;
    margin: 0;

    text-align: end;
}

.single-artist-event {
    text-decoration: none;
    color: var(--yellow-color);
    transition: .5s;
}

.single-artist-event:hover {
    text-decoration: underline;
    color: var(--text-color);
}

.short-description-holder {
    display: none;
    text-align: center;
    align-items: center;
}

.short-description {
    font-size: 20px;
    line-height: 25px;
    background: white;
    text-align: justify;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.singleartist-readmore-btn {
    display: none;
    border: none;
    outline: none;
    background: var(--yellow-color);
    color: white;
    letter-spacing: 2px;
    width: 170px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    transition: .5s;
}

.singleartist-readmore-btn:hover,
.modal-btn:hover,
.submitBtn:hover {
    border: 2px solid var(--yellow-color);
    background: transparent;
    color: var(--yellow-color);
}

.readmore-content {
    display: none;
}

.about-artist-holder {
    display: none;
}

.about-artist,
.about-event,
#event p,
#event a.web {
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.about-event-holder {
    display: none;
}

.single-art-about-heading {
    color: var(--yellow-color);
    letter-spacing: 2px;
    font-size: 25px;
}

.art-images {
    display: none;
}

/*SINGLE EVENT PAGE*/
#event {
    text-align: left;
}

.event-info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: .3fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.event-info > p {
    text-align: right;
}

.location p {
    grid-column: 1;
}

.location span {
    grid-column: 2;
}

.date {
    grid-column: 1;
}

.date span {
    grid-column: 2;
}

.price {
    display: none;
    grid-column: 1;
}

.price span {
    grid-column: 2;
    text-align: left;
}

.oh {
    grid-column: 1;
}

.oh span {
    grid-column: 2;
}

.e-mail {
    grid-column: 1;
}

.e-mail span {
    grid-column: 2;
}

.phone {
    grid-column: 1;
}

.phone span {
    grid-column: 2;
}

.website {
    grid-column: 1;
}

.website span mark {
    grid-column: 2;
}

.about-event {
    margin-top: 0;
    padding-top: 0;
}

#event p {
    padding: 0;
    margin: 5px auto 0 auto;
    color: var(--light-blue);
    font-weight: bold;
    text-align: left;
    padding-bottom: 2px;
    text-align: right;
}

#event span, a.website-link {
    text-align: left;
    align-self: center;
}

#event p span,
#event p.longDes,
#event a.web {
    color: var(--text-color);
    font-weight: normal;
}

#event p.longDes {
    column-count: 3;
    column-gap: 50px;
    text-align: justify;
}

#event p.longDes,
#event p.quote {
    padding-top: 20px;
}

#event p.quote {
    font-size: 28px;
    text-align: center;
    line-height: 30px;
    padding: 5px 20px;
}

#event img.evimg {
    width: 80%;
    display: block;
    margin: 20px auto;
}

#event img.gallogo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

#event h3 {
    color: var(--light-blue);
}

mark {
    font-weight: bold;
    background-color: var(--bg-color);
}

/*MODAL*/

.show {
    display: block;
}

.hide {
    display: none;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}

.modal-content {
    background-color: #ffffff;
    margin: 1em;
    padding: 2.5em;
    width: 80%;
    height: 50%;

    border: 5px solid var(--yellow-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr;
    column-gap: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-btn,
.cross {
    cursor: pointer;
    grid-column: 4;
}

.cross {
    justify-self: end;
}

.modal-btn {
    border: none;
    outline: none;
    background: var(--yellow-color);
    color: white;
    letter-spacing: 2px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    justify-self: center;
    align-self: flex-end;

}

.filter-where {
    grid-column: 1;
    grid-row: 1;

}

.filter-who {
    grid-column: 2;
    grid-row: 1;
}

.filter-when {
    grid-column: 3;
    grid-row: 1;
}

.filter-when img {
    margin-top: 0;
}

.filter-what {
    grid-column: 2;
    grid-row: 2;
}

.filter-howmuch {
    grid-column: 3;
    grid-row: 2;
}

.modal-heading {
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 30px;
}


/*SLIDER - price, filter*/
.slidecon {
    width: 100%;
}

.priceslider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: white;
    border: 3px solid var(--yellow-color);
    border-radius: 10%;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.priceslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--yellow-color);
    cursor: pointer;
}

.priceslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--yellow-color);
    cursor: pointer;
}

/*FILTER - dropdowns, datepicker, checkboxes*/

#location,
#ddartists {
    cursor: pointer;
}

#location,
#ddartists,
.datepicker {
    border: none;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}

input[type="checkbox"] {
    outline: none;
    cursor: pointer;
}

lable {
    margin-right: 10px;
}

/*CONTACT PAGE*/
main#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

.first {
    grid-column: 1;
}

.first img {
    margin-top: 46px;
}

.second {
    grid-column: 2;
}

.second img {
    margin-bottom: 10px;
    margin-top: 30px;
}

.museum,
.building {
    width: 70%;
}

mark {
    background-color: var(--bg-color);
    font-weight: bold;
    color: var(--text-color);
}

main#contact ul {
    padding: 0;
}

/*GALLERY&SUBGALLERY*/

.gallery {
    position: relative;

}

.gallery-container {
    margin: 0 50px;
    column-count: 4;
    column-gap: 15px;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
}

.pic-gallery {
    margin-bottom: 15px;
    transition: .2s;
}

.pic-gallery:hover {
    opacity: 0.5;
}

.gallery-text {
    position: absolute;
    top: 3px;
    background: #FFCC00A5;
    padding: 0 10px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    color: var(--light-blue);
}

.gal-name,
.gal-date {
    margin-top: 10px;
    font-weight: bold;
}

.gal-name {
    font-size: 23px;
    margin-bottom: 0;
}

.gal-date {
    font-size: 2vmin;
}

.sub-name {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: var(--yellow-color);
    margin-top: 70px;
    margin-bottom: 0;
}

.sub-date {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: var(--yellow-color);
    margin-top: 1vmin;
}

.sub-pic-gallery {
    column-count: 2;
    column-gap: 0;
    line-height: 0;
    margin: 0 50px;
}

.sub-pic-gallery img {
    padding: 10px;
}

sub-pic-gallery img {
    position: relative;
}

.gallery img {
    width: 100%;
    height: auto;
}

.sub-gallery img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    main#contact {
        grid-template-columns: 1fr;
        margin-left: 0;
    }

    .first {
        grid-column: 1;
        grid-row: 1;
    }

    .second {
        grid-column: 1;
        grid-row: 2;
    }

    .modal-content {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
    }

    .modal-btn,
    .cross {
        grid-column: 3;
    }

    .modal-btn {
        grid-row: 3;
    }

    .filter-when {
        grid-column: 1;
        grid-row: 2;
    }

    .filter-what {
        grid-column: 2;
        grid-row: 2;
    }

    .filter-howmuch {
        grid-column: 1;
        grid-row: 3;
    }

    #event p.longDes {
        column-count: 2;
    }



}

@media only screen and (max-width: 1000px) {
    .gallery-container {
        column-count: 3;
    }

    nav {
        margin-left: 50px;
    }

    nav a {
        margin-right: 50px;
    }


    .modal-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        height: auto;
        margin-left: 0;
        margin-top: 100px;
    }

    .modal-btn,
    .cross {
        grid-column: 2;
    }

    .modal-btn {
        grid-row: 5;
    }

    .cross {
        grid-row: 1;
    }

    .filter-when {
        grid-column: 1;
        grid-row: 2;
    }

    .filter-what {
        grid-column: 1;
        grid-row: 4;
    }

    .filter-howmuch {
        grid-column: 1;
        grid-row: 3;
    }

    .filter-who {
        grid-column: 1;
        grid-row: 5;
    }

}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 800px) {

    #logo,
    #logo-filled {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    nav {
        grid-row: 2;
        margin-left: auto;
        margin-right: auto;
    }


    .text,
    .eventArtist,
    .eventDate {
        padding: 0;
    }

    .text {
        font-size: 30px;
        position: absolute;
        bottom: 120px;
        left: 10px;

    }

    .eventArtist {
        font-size: 20px;
        position: absolute;
        bottom: 80px;
        left: 10px;
    }

    .eventDate {
        font-size: 20px;
        position: absolute;
        bottom: 50px;
        left: 10px;
    }

    .gallery-container {
        column-count: 2;
    }

    .second .museum {
        width: 100%;
        padding: 0 10px;

    }

    .building {
        display: none;
    }

    #event p.quote {
        font-size: 23px;
        line-height: 25px;
    }


    #event p.longDes {
        column-count: 1;
    }

    .ads-img {
        width: 80%;
    }

    .event-info {
        grid-template-columns: 1fr;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #event p {
        width: auto;
        text-align: center;
        padding: 0;
        margin: 0
    }

    #event span {
        text-align: center;
    }

    .contact-icons-event {
        grid-column: 1 / 2;
        text-align: center;
    }


}

@media only screen and (max-width: 600px) {
    .sign-up-section {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .hole {
        width: 250px;
        height: 250px;
        grid-column: 1;
        margin-right: 0px;

    }

    .sign-up-section h3 {
        font-size: 35px;
        grid-column: 1;
        grid-row: 1;
        text-align: center;

    }

    .sign-up-section h4 {
        font-size: 20px;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        margin-bottom: 0;
    }

    footer {
        grid-template-columns: 1fr;
    }

    .contact-icons {
        grid-column: 1;
        grid-row: 4;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    footer h3 {
        margin-right: auto;
        margin-left: auto;
        grid-row: 1;
        grid-column: 1;
        text-align: center;
    }

    footer h4 {
        margin-right: auto;
        margin-left: auto;
        grid-row: 2;
        grid-column: 1;
    }

    .footer-submit-email {
        margin-right: auto;
        margin-left: auto;
        grid-row: 3;
        grid-column: 1;
    }

    .gallery-container {
        column-count: 1;
    }

    .sub-pic-gallery {
        column-count: 1;
    }


    .short-description,
    p.about-artist,
    p.about-event,
    .blue-heading,
    .yellow-heading,
    .red-heading,
    main#event p.longDes,
    main#event p.quote,
    .sub-name {
        width: 100%;
    }

    main#event p.longDes,
    main#event p.quote {
        padding: 20px;
    }

    .modal-content {
        grid-template-columns: 1fr;
        height: auto;
        margin-top: 0;
    }

    .modal-btn,
    .cross {
        grid-column: 1;
    }

    .modal-btn {
        grid-row: 6;
        margin-top: 10px;
    }

    .filter-when {
        grid-column: 1;
        grid-row: 2;
    }

    .filter-what {
        grid-column: 1;
        grid-row: 4;
    }

    .filter-howmuch {
        grid-column: 1;
        grid-row: 3;
    }

    .filter-who {
        grid-column: 1;
        grid-row: 5;
    }
}

@media only screen and (max-width: 400px) {
    .text {
        font-size: 20px;
        position: absolute;
        bottom: 80px;
        left: 10px;

    }

    .eventArtist {
        font-size: 15px;
        position: absolute;
        bottom: 50px;
        left: 10px;
    }

    .eventDate {
        font-size: 15px;
        position: absolute;
        bottom: 30px;
        left: 10px;
    }

    #event p.quote {
        font-size: 18px;
        padding: 0;
        line-height: 20px;
    }

    main#event p,
    .short-description,
    p.about-artist,
    p.about-event {
        font-size: 18px;
        line-height: 23px;
    }

    #event p span {
        padding-left: 7px;
    }

    .gallery-container,
    .sub-pic-gallery {
        margin: 0 10px;
    }

    #event img.evimg {
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    #event span{
        margin-bottom: 10px;
    }
    #event span.when-data{
        margin-bottom: 0;
    }
}
