@import url("https://use.typekit.net/qkz3byl.css");

:root {
    --bg-color: #ECEFF4;
    --text-color: #13064E;
    --light-blue: #017AF4;
    --red-color: #FF3334;
    --yellow-color: #FFCC00;
    --primary-font: mr-eaves-xl-modern, sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--primary-font);
    color: var(--text-color);

    cursor: none;
}

.cursor{
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
}

#topBtn{
    /*display: none;*/
    background: url(icons/btn-16.png);

    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 70px;
    height: 70px;
    z-index: 99;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 30px 0px;
    transition: .5s;
}
#topBtn:hover{
    background: url(icons/btn-17.png);
}

header{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: center;
}

#logo path:nth-child(2){
    stroke-dasharray: 275;
    stroke-dashoffset: 275;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;

}
#logo path:nth-child(3){
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-anim 2s ease forwards .9s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(4){
    stroke-dasharray: 185;
    stroke-dashoffset: 185;
    animation: line-anim 2s ease forwards .6s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(5){
    stroke-dasharray: 237;
    stroke-dashoffset: 237;
    animation: line-anim 2s ease forwards .9s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(6){
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards .3s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(7){
    stroke-dasharray: 275;
    stroke-dashoffset: 275;
    animation: line-anim 2s ease forwards .6s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(8){
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(9){
    stroke-dasharray: 265;
    stroke-dashoffset: 265;
    animation: line-anim 2s ease forwards 1.3s,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(10){
    stroke-dasharray: 237;
    stroke-dashoffset: 237;
    animation: line-anim 2s ease forwards,
        logo-fill 1s ease forwards 2.4s;
}
#logo path:nth-child(11){
    stroke-dasharray: 285;
    stroke-dashoffset: 285;
    animation: line-anim 2s ease forwards 1s,
        logo-fill 1s ease forwards 2.4s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes logo-fill {
    from {
        fill: transparent;
    }

    to {
        fill: #000;
    }
}

nav a {
    margin-right: 100px;
    text-decoration: none;

    font-size: 25px;
}
nav a:hover{
    color: var(--red-color);
}
